.vh-10 { height: 10vh; }
.vh-25 { height: 25vh; }
.vh-75 { height: 75vh; }
.vh-80 { height: 80vh; }

@media(min-width: 30em) {
  .vh-10-ns { height: 10vh; }
  .vh-25-ns { height: 25vh; }
  .vh-75-ns { height: 75vh; }
  .vh-80-ns { height: 80vh; }
}
