.panel {
  overflow: scroll;
}
.panel.js {
  width: 50px;
  transition: 1s width;
}
.panel-header {
  width: 50px;
  padding: 15px;
}
.panel-header h2 {
  transform: rotate(90deg);
}
.panel-body {
  padding: 20px;
}
@media(min-width: 30em) {
  .panel.show {
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
    transition: 1s width;
  }
}
