.grid {
  display: flex;
}
.panel {
  display: flex;
  width: 50px;
  height: 80vh;
  transition: 1s width;
}
.panel-header {
  width: 50px;
  padding: 20px;
}
.panel-header a {
  display: block;
  transform: rotate(90deg);
  text-decoration: none;
  text-align: right;
}
.panel-body {
  padding: 20px;
  display: none;
  opacity: 0;
  overflow: scroll;
}
.show {
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
  transition: 1s width;
}
